<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/articles" style="color:grey">Private Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <em class="fas fa-bars"></em>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color:grey" class="nav-link" href="/articles">Home</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
    <!-- Post Content -->
    <article>
      <div class="container" >
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <a href="#"><p1 href="#"  ></p1></a>
            <h2 class="post-heading" ></h2>
            <span class="caption text-muted"  style="text-align: left"></span>
            </div>
          </div>
        </div>
    </article>
  <!-- Post Content -->
  <article>
    <div class="container" >
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="#"><p1 href="#"  ></p1>
          </a>
          <p class="post-meta">
          </p>
          <h2 class="post-title"  th:text="${post.headline}"></h2>
          <span class="post-subtitle"  style="text-align: left" th:text="${post.description}"></span>
          <p class="post-meta">Posted by
            <a href="#" th:text="${post.author}" ></a>
          </p>
          <div class="button">
            <button class="btn btn-labeled btn-info" type="button" onclick="showAddDialog();"><span
                    class="btn-label"><em class="fa fa-pencil"></em></span>&nbsp;Update
            </button>
            <button id="btnDelete" name="btnDelete" type="button" class="btn btn-danger"
                    onclick="showModalDialog();"><em class="fa fa-trash-o"></em>&nbsp;Delete
            </button>
            </span>
            <button type="button" class="btn btn-secondary float-right" onclick="goBack()">Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div >

      <!-- Update Delete -->
      <div id="addDialog" name="addDialog" class="modal" tabindex="-1" role="dialog">
        <form action="#"  th:action="@{/articles/{id}/update(id=${post.id})}" th:object="${post}" method="post"
              enctype="multipart/form-data">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add new Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="modal-error" style="display: none"
                     class="alert alert-dismissible fade show alert-danger" role="alert">
                  <p></p>
                </div>
                <div class="form-group">
                  <label for="txtHeadline">Headline: </label>
                  <input type="text" id="txtHeadline" name="txtHeadline" th:field="*{headline}"  th:value="${post.headline}" class="form-control"
                         required>
                </div>
                <div class="form-group">
                  <label for="txtDescription">Description:</label>
                  <textarea class="form-control" id="txtDescription" th:field="*{description}"  th:value="${post.description}"rows="3"
                            required></textarea>
                </div>
                <div class="form-group">
                  <label for="txtAuthor">Author: </label>
                  <input type="text" id="txtAuthor" name="txtAuthor" th:field="*{author}"  th:value="${post.author}"class="form-control"
                         required>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary">Save</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Buttom Delete -->
  </article>
    <div id="deleteDialog" name="deleteDialog" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Article</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-danger"
               th:href="@{/articles/{id}/delete(id=${post.id})}" method="post"><em
                    class="fa fa-trash-o"></em>&nbsp;Yes</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <em class="fas fa-circle fa-stack-2x"></em>
                  <em class="fab fa-twitter fa-stack-1x fa-inverse"></em>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <em class="fas fa-circle fa-stack-2x"></em>
                  <em class="fab fa-facebook-f fa-stack-1x fa-inverse"></em>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <em class="fas fa-circle fa-stack-2x"></em>
                  <em class="fab fa-github fa-stack-1x fa-inverse"></em>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>



</body>
<script>
    function showAddDialog() {
        $('#addDialog').modal('show');
        $('#hdId').val(0);
    }
</script>
<script>
    function showModalDialog() {
        $('#deleteDialog').modal('show');
        $('#hdId').val(0);
    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>
